.owf-map {
    display: flex;
    align-items: center;
    justify-content: center;

    .owf-map__container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .mapboxgl-ctrl-top-right {
            top: 20px;
            right: 10px;
        }
        
    }

   
    
    @media only screen and (max-width: 915px) {
        .mapboxgl-ctrl-geocoder{
            position: absolute;
            top: -25px;
            right: 270px;
        }
    }


  
    

    @media only screen and (max-width: 600px) {
        .mapboxgl-ctrl-geocoder{
            position: absolute;
            top: -20px;
            right: 30px;
        }
    }

    .marker {
       // background-image: url('mapbox-icon.png');
       backround: red;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }

    .mapboxgl-ctrl-group{
        position: absolute;
        top: 25px;
        right: 5px;
    }
}
.MuiCheckbox-colorPrimary.Mui-checked {
    color: #294152 !important;
}

.layersButton{
    z-index:1;
    position: absolute !important;
    top: 157px;
    right: 17px;
    border: 2px solid #5C767F !important;
    background-color: white !important;
    
}
.layersButton:hover { background: white}

.layersButton img{
    width:25px;
    height:25px;
}

.MenuDrawer {
    z-index:1;
    margin-left: 21px;
}

.SwitchLayer {
    z-index:1;
}

.GeoCoder {
    margin-right: 5px;
    z-index:1;
    border: 0px solid black;
}

@media only screen and (max-width: 600px) {
    .MenuDrawer {
        position:fixed;
        right: -1%;
        top: 2%;
        z-index:10
    }
    .SwitchLayer {
        position:fixed;
        left: 19%;
        top: 8%;
        z-index:10;
    }

    .GeoCoder{
        margin-right: 61px !important;
    }
    .layersButton{
        top: 60px;
        right: 14px;
        width:34px;
        height:34px;

    }

    .layersButton img{
        width:15px;
        height:15px;
    }
}

@media only screen and (max-width: 360px) {
    .GeoCoder{
        margin-right: 100px;
        width: 200px;
    }
}


@media only screen and (min-width:601px) and (max-width: 915px) {
    .MenuDrawer {
        position:fixed;
        right: 0%;
        top: 2%;
        z-index:10
    }
    .SwitchLayer {
        position:fixed;
        left: 27%;
        top: 10%;
        z-index:10;
    }
    .GeoCoder{
        margin-right: 245px;
    }
    .layersButton{
        right: 18px;
        top: 45px;
    }

    .layersButton img{
        width:17px;
        height:17px;
    }
}


.owf-map-popup-project {
    display: flex;
    flex-direction: row;

    .image {
        width: 150px;
        height: 250px;
        border-radius: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 150px;
        padding: 10px;

        .title {
            font-weight: bold;
        }

        .description {
            overflow-y: auto;
            max-height: 12em;
            min-height: 10em;
            margin: 1em 0em 1em 0em;
            border: 1px solid rgb(202, 202, 202);
            padding: 0px 0px 0px 3px;
            border-radius: 10px;
            // .content {
            //     padding: 10px;
            // }
        }
    }
}

.mapboxgl-popup {
    max-width: 300px !important;
}

.mapboxgl-popup-content {
    padding: 0;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    background-color:#e1dfca !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    @media (max-width: 900px) {
        width: 200px !important;
        padding-bottom: 5%;
        font-size: 10px;
    }
}

.mapboxgl-popup-tip {
    border-top-color: black !important;
}

.mapboxgl-popup-close-button{
    display: none;
}

.popup-close-icon {
    cursor:pointer;
    right: 5px;
    top: 5px;
    position: absolute;
    font-size:15px !important;
    font-weight: bolder;
    z-index: 1;
    @media (max-width: 900px) {
       background-color: white;
       border-radius: 50%;
    }
}

.popup-buttons {
    font-size: 10px !important; 
    color: black !important;
    margin-top:2% !important;
    width:120px !important;
    height:25px !important;
    @media (max-width: 900px) {
        float: none !important;
        font-size: 9px !important;
    }
}